* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: hsl(230, 50%, 10%);
    color: hsl(50, 50%, 90%);
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif
}

header {
    display:flex;
    align-content: center;
    padding: 1rem;
    background-color: hsl(50, 20%, 20%);
    color: hsl(230, 50%, 90%);
}

header h1 {
    padding-left: 5rem;
}

h1 a:hover {
    color:hsl(70, 50%, 40%);
}

h1 a:active {
    color: hsl(70, 30%, 80%);
}

.site-head a {
    text-decoration: none;
    color: hsl(50, 50%, 90%);
}

ul#site-nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    width: 60%;
    margin-top: 0.125rem;
}

#site-nav li {
    list-style: none;
    font-size: 1.25rem;
    border: 1px solid hsl(50, 30%, 70%);
    padding: 0.25rem 1.5rem;
    background-color: hsl(50, 40%, 30%);
}

#site-nav li:hover {
    background-color: hsl(70, 50%, 40%);
}

#site-nav li:active {
    color: hsl(70, 30%, 80%);
}

#site-nav a {
    text-decoration: none;
    color: inherit;
}

div#burger-menu {
    display: none;
}

#burger-menu svg {
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 2rem;
    border: 1px solid hsl(50, 50%, 90%);
    color:hsl(50, 30%, 70%);
    border-radius: 0.25rem;
    background-color: hsl(50, 40%, 30%);
    cursor: pointer;
}

#burger-menu svg:hover {
    background-color: hsl(70, 50%, 40%);
}

h2 {
    text-align: center;
    margin: 2rem auto;
}

h3 {
    text-align: center;
}

h4 {
    margin: 1rem;
}

section#about {
    margin: 2rem;
}

#about img {
    height: 18rem;
    margin-right: 4rem;
}

#about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about-container img {
    margin: 3rem 4rem;
}

#about-container p {
    width: 75%;
    margin: auto;
    padding: 0.5rem;
    font-size: 1.125rem;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: hsl(200, 50%, 20%);
}

#projects-container p {
    padding: 1rem;
}

.project h4 {
    text-align: center;
}

.project {
    border: 1px solid hsl(230, 50%, 60%);
    background-color: hsl(230, 50%, 30%);
    border-radius: 0.25rem;
    margin: 1rem auto;
    width: 90%;
    cursor: pointer;
}

.explanation {
    display: none;
    margin: 1rem auto;
}

.explanation img {
    width: 50%;
    height: auto;
    float: right;
}

#skills {
    background-color:hsl(230, 50%, 70%);
    color:hsl(50, 50%, 10%);
    padding-top: 0.5rem;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills li {
    list-style: none;
}

.skills svg {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2rem;
}

.link {
    margin: 1rem auto;
}

div.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5%;
}

#contact {
    margin: 0px auto;
    padding: 0.5rem;
    height: 76vh;
}

#contact h2 {
    margin: 2rem;
}

#contact p {
    margin: 0.5rem;
}

.contact-links {
    display: flex;
    align-items: center;
}

.contact-links li {
    margin: 1rem;
    list-style: none;
}

.contact-links img {
    width: 4rem;
}

.contact-links svg {
    width: 4rem;
    color:hsl(230, 50%, 90%);
}

.contact-links svg:hover {
    color: hsl(230, 70%, 80%);
}

footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(50, 20%, 20%);
    color: hsl(230, 50%, 90%);
    font-weight: bolder;
}

@media only screen and (max-width: 860px) {
    ul#site-nav {
        display: none;
    }

    #site-nav li {
        text-align: center;
    }

    div#burger-menu {
        display: block;
    }

    #about-container {
        display: inline-block;
    }

    img#profile-pic {
        float: right;
    }
}

@media only screen and (max-width: 720px) {
    #about-container aside {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img#profile-pic {
        float: none;
        width: 60%;
        height: auto;
    }

    .explanation img {
        width: 100%;
        height: auto;
        float: none;
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 660px) {
    .skills {
        flex-direction: column;
    }

    .skills li {
        margin: 0.5rem auto;
    }

    .skills svg {
        margin: 0;
    }
}

@media only screen and (max-width: 420px) {
    header h1 {
        padding-left: 0.25rem;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 340px) {
    #contact {
        height: 130vh
    }

    .contact-links {
        flex-direction: column;
    }


}